/* @import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

.logo {
  font-family: 'Cute Font', cursive;
  font-size: 44px;
}

.menu > div {
  font-family: 'Cute Font', cursive;
} */