.map_container {
  width: 100%;
  position: relative;
  display: flex;
}

.map_kakao {
  width: 80%;
  float: left;
  border: 1px solid rgb(231, 231, 231);
  border-top: none;
}

.map_kakao .map_menu {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(231, 231, 231);
}

.search {
  position: relative;
  height: 50px;
  width: 97.5%;
}

.search input {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
}

img {
  position : absolute;
  width: 17px;
  top: 10px;
  right: 12px;
  margin: 0;
}

.map_kakao .kakao_api {
  width: 100%;
  float: left;
  border-right: 1px solid rgb(231, 231, 231);
}

.map_kakao .kakao_api .kakao .kakaoMap_size {
  width: 100%;
  height: 102vh;
}

.building {
  width: 20%;
}

.building .all-room-detail {
  display: block;
}

.building .one-room-detail,
.building .two-room-detail {
  display: none;
}

.building .map_side_02 {
  height: 50px;
  border-bottom: 1px solid rgb(231, 231, 231);
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.building .map_side_02 .map_side_menu_02 {
  margin-right: 5px;
  font-size: 15px;
  cursor: pointer;
}

.building .map_side_02 .map_side_menu_02:first-child,
.building .map_side_02 .map_side_menu_02:last-child {
  margin: 0 5px 0 5px;
}

.loop-bilding>ul {
  padding-left: 0;
}

.loop-bilding>ul>li {
  background-color: gray;
  margin-bottom: 20px;
  list-style: none;
  text-align: center;
  color: #fff;
  font-size: 14px;
  padding: 10px 0;
}

.loop-bilding>ul>li>ul {
  font-size: 14px;
}

.loop-bilding>ul>li>ul>li {
  font-size: 20px;
  display: flex;
  margin-top: 20px;
}

.loop-bilding>ul>li>ul>li:first-child {
  margin-top: 0;
}

/* 짝수, 홀수 색상 구분하기 위해 */
.loop-bilding>ul>li:nth-child(2n) {
  background-color: gray;
}

#loop {
  display: block;
  font-size: 18px;
}

.loop > div {
  margin: 20px 0;
}